# System
.DS_Store
Thumbs.db

# Builds
Builds/*
!Builds/.gitkeep
!Builds/Web/
Builds/Web/*
!Builds/Web/README.md

# Temp files
*.zip
*.tmp

# Editors
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

