# System
.DS_Store
Thumbs.db

# Builds (keep Web README)
Builds/*
!Builds/.gitkeep
!Builds/Web/
Builds/Web/*
!Builds/Web/README.md

# Archives / temp
*.zip
*.tmp

# Tools
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc
